body {
	background-image: url("../images/bgimage.jpg");
	color: white;
}

/* CAROUSEL STYLES */

.c-toptext {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #fff;
	text-align: center;
	transform: translate(-50%, -50%);
	z-index: 12;
}

.c-toptext .c-logo {
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
	white-space: nowrap;
}

.c-toptext p {
	font-size: 12px;
	font-style: italic;
}

.c-toptext a {
	font-size: 24px;
	font-style: italic;
}

.c-toptext .btn:hover {
	background-color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 576px) {  /* sm-md*/
	.c-toptext .c-logo {
		font-size: 80px;
	}

	.c-toptext p {
		font-size: 16px;
	}

	.c-toptext a {
		font-size: 35px;
	}
}

@media (min-width: 992px) {  /* lg-xl */
	.c-toptext .c-logo {
		padding-bottom: 30px;
		font-size: 100px;
	}

	.c-toptext p {
		font-size: 18px;
	}
}

.carousel-item {
	height: 100vh;
	min-height: 300px;
}

.carousel-item img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* NAVBAR STYLES */

#navbarMain .nav-link, #navbarMain .navbar-toggler {
	color: #fff;
}

.nav-item:hover {
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.2);
}

/* OTHER STYLES */

.c-bg-light {
	background-color: rgba(31, 29, 29, 0.3);
}

.c-bg-dark {
	background-color: rgba(0, 0, 0, 0.8);
}

.card {
	background-color: rgba(255, 255, 255, 0.85);
}

.c-header {
	padding-top: 100px;
	font-family: 'Markazi Text', serif;
	font-size: 70px;
}

footer {
	margin: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.c-size-125 {
	max-height: 125px; 
	max-width: 125px;
}

.c-text-black {
	color: black;
}
