{% extends "layout.html" %}

{% block navbarposition %}
<nav class="navbar navbar-expand-md navbar-dark Bggrey" id="navbarMain">
{% endblock %}

{% block content %}

<!-- ------------------------------FORMULARZ------------------------------ -->

<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-xl-3 col-lg-4 col-md-6 col-sm-8 col-xs-12 mt-5">
		  <form action = "/register" method = "POST">
			  <div class="form-group">
			    <label for="loginInput">Utwórz login użytkownika</label>
					<input type="text" class="form-control" id="loginInput" placeholder="Login" name='userID'>
				</div>

				<div class="form-group">
				  <label for="passwordInput">Utwórz hasło użytkownika</label>
				  <input type="password" class="form-control" id="passwordInput" placeholder="Hasło" name='userPass'>
				</div>

				<button type="submit" class="btn btn-outline-light btn-block mt-4">Zarejestruj</button>
		  </form>
		</div>
	</div>
</div>

{% endblock content %}

{% block footerposition %}
<footer class="page-footer font-small pt-2 blue mt-4 fixed-bottom">
{% endblock %}